In [31]:
import pandas as pd
import numpy as np
from math import *

s = pd.DataFrame(np.random.randn(5, 5), columns=["a","b","c","d","e"])
print(np.array(s.iloc[:, 0]).shape)
print(s.pct_change())
print(s.pct_change().mean())
s.pct_change().subtract(s.pct_change().mean())

(5,)
          a         b         c          d         e
0       NaN       NaN       NaN        NaN       NaN
1 -2.432695 -3.288493 -0.219119   1.921820 -0.681821
2 -1.832471 -0.339944  0.759742  -0.966087 -3.919784
3 -0.633387 -2.052347 -1.528437  20.525279 -0.294470
4 -4.884984 -1.815123 -1.534335  -1.443625 -3.236219
a   -2.445884
b   -1.873977
c   -0.630537
d    5.009347
e   -2.033074
dtype: float64

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>a</th>
      <th>b</th>
      <th>c</th>
      <th>d</th>
      <th>e</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0.013189</td>
      <td>-1.414516</td>
      <td>0.411418</td>
      <td>-3.087527</td>
      <td>1.351252</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.613413</td>
      <td>1.534033</td>
      <td>1.390279</td>
      <td>-5.975434</td>
      <td>-1.886710</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1.812498</td>
      <td>-0.178371</td>
      <td>-0.897899</td>
      <td>15.515933</td>
      <td>1.738603</td>
    </tr>
    <tr>
      <th>4</th>
      <td>-2.439099</td>
      <td>0.058854</td>
      <td>-0.903798</td>
      <td>-6.452972</td>
      <td>-1.203145</td>
    </tr>
  </tbody>
</table>
</div>

In [2]:
c = np.multiply(np.ones(5)-np.eye(5), s.corr())
np.multiply(np.diag(s),np.eye(5))

NameError: name 'np' is not defined

In [9]:
import rqdatac
rqdatac.init('ricequant', '8ricequant8')
rqdatac.fund.get_nav("000129", "2014-01-01", "2017-06-01").subscribe_status

2014-01-02       Open
2014-01-03       Open
2014-01-06       Open
2014-01-07       Open
2014-01-08       Open
2014-01-09       Open
2014-01-10       Open
2014-01-13       Open
2014-01-14       Open
2014-01-15       Open
2014-01-16       Open
2014-01-17       Open
2014-01-20       Open
2014-01-21       Open
2014-01-22       Open
2014-01-23       Open
2014-01-24       Open
2014-01-27       Open
2014-01-28       Open
2014-01-29       Open
2014-01-30       Open
2014-02-07       Open
2014-02-10       Open
2014-02-11       Open
2014-02-12       Open
2014-02-13       Open
2014-02-14       Open
2014-02-17       Open
2014-02-18       Open
2014-02-19       Open
               ...
2017-04-18    Limited
2017-04-19    Limited
2017-04-20    Limited
2017-04-21    Limited
2017-04-24    Limited
2017-04-25    Limited
2017-04-26    Limited
2017-04-27    Limited
2017-04-28    Limited
2017-05-02    Limited
2017-05-03    Limited
2017-05-04    Limited
2017-05-05    Limited
2017-05-08    Limited
2017-05-09    Limited
2017-05-10    Limited
2017-05-11    Limited
2017-05-12    Limited
2017-05-15    Limited
2017-05-16    Limited
2017-05-17    Limited
2017-05-18    Limited
2017-05-19    Limited
2017-05-22    Limited
2017-05-23    Limited
2017-05-24    Limited
2017-05-25    Limited
2017-05-26    Limited
2017-05-31    Limited
2017-06-01    Limited
Name: subscribe_status, dtype: object