In [31]:
import pandas as pd
import numpy as np
from math import *

s = pd.DataFrame(np.random.randn(5, 5), columns=["a","b","c","d","e"])
print(np.array(s.iloc[:, 0]).shape)
print(s.pct_change())
print(s.pct_change().mean())
s.pct_change().subtract(s.pct_change().mean())

(5,)
          a         b         c          d         e
0       NaN       NaN       NaN        NaN       NaN
1 -2.432695 -3.288493 -0.219119   1.921820 -0.681821
2 -1.832471 -0.339944  0.759742  -0.966087 -3.919784
3 -0.633387 -2.052347 -1.528437  20.525279 -0.294470
4 -4.884984 -1.815123 -1.534335  -1.443625 -3.236219
a   -2.445884
b   -1.873977
c   -0.630537
d    5.009347
e   -2.033074
dtype: float64

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>a</th>
      <th>b</th>
      <th>c</th>
      <th>d</th>
      <th>e</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0.013189</td>
      <td>-1.414516</td>
      <td>0.411418</td>
      <td>-3.087527</td>
      <td>1.351252</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.613413</td>
      <td>1.534033</td>
      <td>1.390279</td>
      <td>-5.975434</td>
      <td>-1.886710</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1.812498</td>
      <td>-0.178371</td>
      <td>-0.897899</td>
      <td>15.515933</td>
      <td>1.738603</td>
    </tr>
    <tr>
      <th>4</th>
      <td>-2.439099</td>
      <td>0.058854</td>
      <td>-0.903798</td>
      <td>-6.452972</td>
      <td>-1.203145</td>
    </tr>
  </tbody>
</table>
</div>

In [2]:
c = np.multiply(np.ones(5)-np.eye(5), s.corr())
np.multiply(np.diag(s),np.eye(5))

NameError: name 'np' is not defined

In [1]:
import rqdatac
rqdatac.init('ricequant', '8ricequant8')
rqdatac.fund.instruments("000129")

Instrument(symbol='大成景安短融债券B', fund_manager='张文平', round_lot=1.0, issuer='大成基金', de_listed_date='0000-00-00', latest_size=20495341.21, fund_type='Bond', benchmark='中债短融总指数', type='PublicFund', listed_date='2013-05-24', order_book_id='000129')

In [48]:
tt = list()
for i in [2,1]:
    test = lambda x_d = x: sum(x[t] for t in range(2*i)) - i
    tt.append(test)
x = [1,2,3,4,5,6,7,8,9,10]
print(tt[0](x))
print(tt[1](x))
# A = [{"fun": test1}]
# A.append({"fun": test2})
# print(A)
# print(A[0]["fun"](x))
# print(A[1]["fun"](x))
ttt = list()
i = 0
while i < 2:
    test = lambda x_d = x: sum(x_d[t] for t in range(2*i)) - i
    ttt.append(test)
    i = i + 1
print(ttt[0](x))
print(ttt[1](x))
a = None
print(None)

2
2
8
8
None

In [38]:
opt_dict = {'risk_parity': 1,
                'min_variance': 2,
                'mean_variance': 3,
                'risk_parity_with_con': 4,
                "min_TE": 5,
                'all': [1, 2, 3]}
opt_dict["all"]

[1, 2, 3]

In [7]:
iprint, disp= 0, 1
log_barrier_risk_parity_iprint = {0: -1, 1: 0, 2: 1}
log_barrier_risk_parity_opts = {'iprint': log_barrier_risk_parity_iprint[iprint], 'disp': disp}
log_barrier_risk_parity_opts["iprint"]

-1