In [31]:
import pandas as pd
import numpy as np
from math import *

s = pd.DataFrame(np.random.randn(5, 5), columns=["a","b","c","d","e"])
print(np.array(s.iloc[:, 0]).shape)
print(s.pct_change())
print(s.pct_change().mean())
s.pct_change().subtract(s.pct_change().mean())

(5,)
          a         b         c          d         e
0       NaN       NaN       NaN        NaN       NaN
1 -2.432695 -3.288493 -0.219119   1.921820 -0.681821
2 -1.832471 -0.339944  0.759742  -0.966087 -3.919784
3 -0.633387 -2.052347 -1.528437  20.525279 -0.294470
4 -4.884984 -1.815123 -1.534335  -1.443625 -3.236219
a   -2.445884
b   -1.873977
c   -0.630537
d    5.009347
e   -2.033074
dtype: float64

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>a</th>
      <th>b</th>
      <th>c</th>
      <th>d</th>
      <th>e</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0.013189</td>
      <td>-1.414516</td>
      <td>0.411418</td>
      <td>-3.087527</td>
      <td>1.351252</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.613413</td>
      <td>1.534033</td>
      <td>1.390279</td>
      <td>-5.975434</td>
      <td>-1.886710</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1.812498</td>
      <td>-0.178371</td>
      <td>-0.897899</td>
      <td>15.515933</td>
      <td>1.738603</td>
    </tr>
    <tr>
      <th>4</th>
      <td>-2.439099</td>
      <td>0.058854</td>
      <td>-0.903798</td>
      <td>-6.452972</td>
      <td>-1.203145</td>
    </tr>
  </tbody>
</table>
</div>

In [175]:
c = np.multiply(np.ones(5)-np.eye(5), s.corr())
np.multiply(np.diag(s),np.eye(5))

array([[-0.08827091,  0.        , -0.        , -0.        , -0.        ],
       [-0.        ,  0.45731929, -0.        , -0.        , -0.        ],
       [-0.        ,  0.        , -1.28651277, -0.        , -0.        ],
       [-0.        ,  0.        , -0.        , -0.08871024, -0.        ],
       [-0.        ,  0.        , -0.        , -0.        , -0.02206545]])